body {
  font-size: 87%;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: blue;
  font-size: 100%;
}
div#header {
  margin-bottom: 1.05em;
  padding-bottom: 1.5em;
  padding-left: 0;
  padding-top: 1.5em;
}
div#header h1 {
  background: url("../images/pages/header.png") 0px 20px no-repeat;
  display: inline;
  margin: 0;
  padding-bottom: 43px;
  padding-left: 75px;
  padding-top: 40px;
}
h1 {
  font-size: 150%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.section-header {
  margin-top: 1em;
  background: #ebeff9;
  border-top: 1px solid #b5c7de;
  font-size: 95%;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-top: 3px;
  font-weight: bold;
  display: block;
  text-decoration: none;
}
.section-header span {
  text-decoration: underline;
}
.section {
  background: #f4f6fc;
  border-bottom: 1px solid #edeff5;
  font-size: 85%;
  padding-bottom: 0.8em;
  padding-left: 10px;
  padding-top: 0.8em;
}
.section ul, .section ol {
	margin: 0px;
	padding-left: 15px;
}
#nav {
	position: absolute;
	top: 0px;
	right: 0px;
	width: auto;
	height: 20px;

	border-bottom: 1px solid #C9D7F1;
	
	margin: 0px;
	padding: 4px 4px 0px 25px;
	
	font-family: Arial, sans-serif;
	font-size: 13px;
	white-space: nowrap;
}
#nav_fade {
	position: absolute;
	left: 0px;
	bottom: -1px;
	width: 50px;
	height: 1px;
	
	background-image: url("../images/pages/nav_fade.png");
}
#nav_selected {
	font-weight: bolder;
}
#nav_noopen {
	color: #BFBFBF;
}
td {
	vertical-align: top;
}