body {
	margin: 10px 10px 43px 10px;
}
input[type="checkbox"] {
	vertical-align: -15%;
}
.numeric input[type="text"] {
	width: 25px;
}
#buttons {
	position: fixed;
	right: 10px;
	bottom: 10px;
	
	text-align: right;
}
#buttons2 {
	position: fixed;
	left: 10px;
	bottom: 10px;
	
	text-align: left;
}
.color {
	width: 48px;
	height: 48px;
	display: inline-block;
	border: 1px solid #b5c7de;
	vertical-align: middle;
}
.colorbox input[type=text] {
	width: 75px;
}
.colorbox {
	margin-bottom: 1em;
}
.colorbox:last-child {
	margin-bottom: 0em;
}
button {
	width: 75px;
	height: 23px;
}
.indent {
	padding-left: 16px;
}
p.header {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0px;
}
p:first-child {
	margin-top: 0px;
}
.listboxheader {
	margin-left: 1px;
	margin-right: 11px;
	width: 250px;
	float: left;
	white-space: nowrap;
}
#servicesettingsheader {
	display: none;
}
.clear {
	clear: both;
}
.listbox {
	margin-right: 10px;
	width: 240px;
	float: left;
	height: 390px;
	overflow: auto;
	
	background-color: white;
	border: 1px solid #b5c7de;
	color: black;
	
	padding: 5px;
}
#servicesettings {
	height: 400px;
}
#servicesettings > div {
	display: none;

	height: 400px;

	overflow-y: auto;
}
.listbox div {
	border: 1px solid rgba(255,255,255,0);
	background-color: rgba(255,255,255,0);
	-webkit-border-radius: 2px;
	
	padding: 5px;
	
	min-height: 16px;
}
.listbox img {
	margin-right: 5px;
}
.listbox p {
	margin: 0px;
}
#allservices img {
	max-width: 16px;
	max-height: 16px;

	vertical-align: text-bottom;
}
#allservices div {
	min-height: 16px;
}
#enabledservices div {
	min-height: 32px;
}
#enabledservices img {
	float: left;

	max-width: 32px;
	max-height: 32px;
}
.listbox div:not([selected]):hover, .listbox div[selected] {
	background-image: -webkit-gradient(linear, left top, left bottom,
		from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}
.listbox div[selected] {
	background-color: hsl(214, 91%, 89%);
	border-color: hsl(214, 91%, 65%);
}
.listbox div:not([selected]):hover {
	border-color: hsl(214, 91%, 85%);
	background-color: hsl(214, 91%, 97%);
}