<p>
  @if (feed && !feed.isAuthed) {
    <button mat-raised-button color="primary" (click)="auth()">
      <mat-icon>security</mat-icon>
      Grant
    </button>
  }
  @if (feed && !feed.isAuthed) {
    One Number requires additional permissions.
  }
  @if (feed && feed.isAuthed) {
    One Number has the required access to your Gmail.
  }
</p>

@if (feed) {
  <mat-checkbox [(ngModel)]="feed.showAsThreads" [ngModelOptions]="{standalone: true}">Group messages together in conversations</mat-checkbox>
}

@if (feed) {
  <mat-checkbox [(ngModel)]="feed.syncReadToGmail" [ngModelOptions]="{standalone: true}">Synchronize message read status back to Gmail</mat-checkbox>
}
