@if (loading) {
  <mat-spinner></mat-spinner>
}
@if (show) {
  <mat-card>
    <mat-card-header>
      @if (icon) {
        <div mat-card-avatar [ngStyle]="{'background-image': icon }"></div>
      }
      @if (feed?.displayName) {
        <mat-card-title>{{feed?.displayName}}</mat-card-title>
      }
      @if (feed?.description) {
        <mat-card-subtitle>{{feed?.description}}</mat-card-subtitle>
      }
    </mat-card-header>
  </mat-card>
}
@if (error !== null) {
  <mat-error>{{error}}</mat-error>
}