:host {
	display: block;
	max-width: 500px;

	> * {
		margin-left: 20px;
		margin-right: 20px;
	}
	> h1 {
		margin-top: 15px;
		margin-bottom: 0;
	}
	> h3 {
		margin-top: 0;
		margin-bottom: 15px;
	}
	> form > p {
		> button:not(:last-child) {
			margin-right: 10px;
		}
	}
}